.title {
	font-size: 4em;
}

.description {
	font-size: 1.2em;
	font-family: sans-serif;
}

.pictures {
	padding-top: 20px;
	height: 500px;
	overflow-y: hidden;
	overflow-x: scroll;
	display: flex;
	gap: 40px;
}

.pictures img {
	height: 100%;
}

.back {
	opacity: 0 !important;!i;!;
}

body {
	background-color: white !important;!i;!;
}

h1 {
	color: black;
	text-align: right;
	width: 100%;
	font-size: 3em;
}

#mail {
	display: block;
	color: black;
	text-align: right;
	width: 100%;
	text-decoration: none;
}
#mail:hover {
	text-decoration: underline;
}

.nav-tab {
	color: black !important;!i;!;
}

hr {
	border-bottom: 2px black solid !important;!i;!;
}

.albumBlock {
	margin-bottom: 75px;
}
